
.list_item_heading {
	color: #9a2617;
	font-weight: normal;
}

.list_item_subheading {
	color: #000000;
}

.page_heading {
	font-size: 24px;
	letter-spacing: .10em;
	text-align: center;
}

.prompt {
	font-size: 24px;
	letter-spacing: .10em;
	font-weight: bold;
	text-align: center;
	margin: 0 0;
}

.description-content {
	font-size: 16px;
}

.description-content:first-letter {
	font-size: 28px;
	color: #9a2617;
}