
.list_item_heading {
	color: #829356;
	font-weight: normal;
}

.list_item_subheading {
	color: #000000;
}

.page_heading {
	font-size: 72px;
	font-weight: bold;
	color: #9a2617;
	text-align: center;
}

.description-content {
	font-size: 16px;
}

.description-content:first-letter {
	font-size: 28px;
	color: #9a2617;
}