---
layout: default
---

{% if page.background %}
<header>
  <div class="container" style="height: 300px; background-image: url('{{page.background | relative_url}}');">
    <div class="d-flex flex-row align-items-center justify-content-center h-100">
      <div class="typewriter">
        <h1 class="page_heading">
          {{ page.title | upcase }}
        </h1><hr/>
        {% if page.description %}
          <p class="page_subheading">{{ page.description }}</p>
        {% endif %}   
      </div>
    </div>
  </div>
{% else %}
<header>
  <div class="container" style="height: 300px;">
    <div class="d-flex flex-row align-items-center justify-content-center h-100">
      <div class="typewriter">
        <h1 class="page_heading">
          {{ page.title | upcase }}
        </h1><hr/>
        {% if page.description %}
          <p class="page_subheading">{{ page.description }}</p>
        {% endif %}   
      </div>
    </div>
  </div>
{% endif %}
</header>

<div class="container shadow p-3 mb-5 bg-white rounded">
  {{ content }}
</div>