---
layout: default
---

{% if page.background %}
<header>
  <div class="container" style="height: 230px; background-image: url('{{page.background | relative_url}}');">
    <div class="d-flex flex-row align-items-center justify-content-center h-100">
      <div class="typewriter">
        <h1 class="page_heading">
          {{ page.title | upcase }}
        </h1>
        {% if page.description %}
          <p class="page_subheading">{{ page.description }}</p>
        {% endif %}   
      </div>
    </div>
  </div>
{% else %}
<header>
  <div class="container" style="height: 230px;">
    <div class="d-flex flex-row align-items-center justify-content-center h-100">
      <div class="typewriter">
        <h1 class="page_heading">
          {{ page.title | upcase }}
        </h1>
        {% if page.description %}
          <p class="page_subheading">{{ page.description }}</p>
        {% endif %}   
      </div>
    </div>
  </div>
{% endif %}
</header>

<div class="container shadow-lg p-5 mb-5 bg-white border-top rounded content-container">
  <hr class="page-rule">
  {{ content }}
</div>